@model AvisFormation.WebUi.Models.FormationAvecAvisViewModel
@{
    ViewBag.Title = Model.FormationNom;
}
<div class="container bg-white padding30">
    <h2>@Model.FormationNom</h2>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Message"]
        </div>
    }

    <br />
    @Html.ActionLink("Laissez un avis sur cette formation", "LaisserUnAvis", "Avis", new { nomSeo = Model.FormationNomSeo }, new { @class = "big-link" })
    <br />
    <p class="margin20"><b>@Model.FormationDescription</b></p>
    <br />
    @foreach (var avis in Model.Avis)
    {
        <article class="bg-grey avis">
            <div>
                @if (avis.Note == 0)
                {
                    <span class="col-md-2 sm-4">Aucun Avis</span>
                }
                else
                {
                    <div class="row">
                        <span class="col-md-2 sm-3">Nom du stagiaire : </span>
                        <span class="col-md-2 sm-3">@avis.Nom</span>
                    @*</div>
                    <div class="row">*@
                        <span class="col-md-1 sm-3">Description : </span>
                        <span class="col-md-3 sm-3">@avis.Description</span>         
                        <span class="col-md-1 sm-3">Note : </span>

                        <span class="col-md-3 sm-9">
                            @for (int i = 1; i <= avis.Note; i++)
                            {
                                <span class="glyphicon glyphicon-star yellow"></span>
                            }
                        </span>
                    </div>
                }
            </div>
        </article>
        <br>
    }
</div>




<br />




